{% extends 'base.html.twig' %}

{% block title %}Hello APIController!{% endblock %}

{% block main %}
    {% verbatim %}
        <div id="app">
                <select v-model="selectedCity" @change="filter(selectedCity)">
                        <option v-for="city in cities" v-bind:value="city">{{city.name}}</option>
                </select>
                <select v-model="selectedPlace" @change="log(selectedPlace)">
                        <option v-for="place in selectedPlaces" v-bind:value="place">{{place.name}} ({{place.city.name}})</option>
                </select>

                <input v-if="selectedPlace" type="text" v-bind:value="selectedPlace.street">

        </div>




    {% endverbatim %}
{% endblock %}
    {% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

