{% extends 'base.html.twig' %}

{% block title %} ajouter modifier Profil {% endblock %}


{% block main %}
    <h2 class="text_center"> Mon Profil</h2>
{#    {% form_theme UserFormType 'bootstrap_5_horizontal_layout.html.twig' %}#}

    <div class="col-3 my-4">
        {# form #}
        {{ form_start (formulaire) }}

        {{ form_widget (formulaire) }}
        <button class="btn btn-primary" type="submit">Modifier</button>

        {{ form_end (formulaire) }}
        {# </form> #}

        <div class="col">
            <a href="{{ path('app_outing') }}" title="Sortir.com | Home">
                Retour
            </a>
        </div>


    </div>





{% endblock %}