{% extends 'base.html.twig' %}

{% block title %} Ajouter un profil {% endblock %}


{% block main %}
    <h2 class="text_center"> Mon Profil</h2>

    <div class="col-4 my-3">
        {# form #}
        {{ form_start (formulaire) }}

        {{ form_widget (formulaire) }}
        <button class="btn btn-primary" type="submit">Modifier</button>
        {{ form_end (formulaire) }}
        {# </form> #}

        <div class="col">
            <a href="{{ path('app_outing') }}" title="Sortir.com | Home">
                Retour
            </a>
        </div>


    </div>





{% endblock %}